<section id="galerie-statica" class="zona galerie-statica">
    <h2>Galerie de produse</h2>

    <% if (imaginiGalerie && imaginiGalerie.length > 0) { %>
        <div class="grid-galerie">
            <% imaginiGalerie.forEach(function(img) { %>
                <figure>
                    <picture>
                        <source media="(max-width: 700px)" srcset="<%= img.cale_mic %>">
                        <source media="(max-width: 1100px)" srcset="<%= img.cale_mediu %>">

                        <img 
                            src="<%= img.cale_mare %>"
                            alt="<%= img.continut_alternativ || img.nume_poza %>"
                            title="<%= img.descriere_poza %>">
                    </picture>

                    <figcaption>
                        <%= img.nume_poza %> - <%= img.descriere_poza %>

                        <% if (img.licenta === "CC-BY") { %>
                            <br>
                            <small>
                                Imagine: <%= img.autor %>, sursă: <%= img.sursa %>, licență CC-BY
                            </small>
                        <% } %>
                    </figcaption>
                </figure>
            <% }) %>
        </div>
    <% } else { %>
        <p>Nu există imagini disponibile pentru ziua curentă.</p>
    <% } %>
</section>
